/*================|RESET|================*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
html{height:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
input, textarea{font:14px 'Roboto', sans-serif;color:#000;outline:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
input[type="button"], input[type="submit"], button{cursor:pointer}
input[type=submit], input[type=button]{-webkit-appearance:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clear-fix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}

/*================|FONTS|================*/
@font-face {
    font-family: 'Orpheus';
    src: url('../fonts/Orpheus.eot');
    src: local('☺'), url('../fonts/Orpheus.woff') format('woff'), url('../fonts/Orpheus.ttf') format('truetype'), url('../fonts/Orpheus.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*================|COMMON STYLES|================*/
a{
    font-size: 14px;
    color: #159bc7;
    text-decoration: none;
    outline: none;
    transition: .4s;
}
a:hover,a:active{
    color: #046a75;
}
input[type='text']{
    height: 46px;
    padding: 0 20px;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.04);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.04);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.04);
    font-size: 14px;
    transition: .5s;
}
textarea{
    height: 184px;
    padding: 20px;
    resize: none;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.04);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.04);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.04);
    font-size: 14px;
    transition: .5s;
}
.validation-msg{
    margin-top: 10px;
    margin-left: 10px;
    color: #ff1117;
    font-size: 12px;
    display: none;
    transition: .5s;
}
.input-error + .validation-msg{
    display: block;
}
.input-error{
    border-color: #ff2211 !important;
    -webkit-box-shadow:  0 0 7px rgba(255, 34, 17, .29) !important;
    -moz-box-shadow:  0 0 7px rgba(255, 34, 17, .29) !important;
    box-shadow:  0 0 7px rgba(255, 34, 17, .29) !important;
}
.input-ok{
    border-color: #76d03b !important;
    -webkit-box-shadow:  0 0 7px rgba(34, 255, 17, .29) !important;
    -moz-box-shadow:  0 0 7px rgba(34, 255, 17, .29) !important;
    box-shadow:  0 0 7px rgba(34, 255, 17, .29) !important;
}
label{
    display: inline-block;
    width: 290px;
    padding-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .4px;
    line-height: 18px;
}
.field-box input{
    vertical-align: middle;
}
.field-box label{
    vertical-align: middle;
}
.button{
    height: 50px;
    width: 244px;
    display: inline-block;
    background: #4ea615;
    background: -moz-linear-gradient(top, #78c348 27%, #4ea615 100%);
    background: -webkit-linear-gradient(top, #78c348 27%,#4ea615 100%);
    background: linear-gradient(to bottom, #78c348 27%,#4ea615 100%);
    color: #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  3px 3px 5px  rgba(86, 172, 31, .26), inset -1px -1px 2px rgba(0,0,0,.18), inset 2px 2px 2px rgba(255,255,255,.38);
    -moz-box-shadow:  3px 3px 5px  rgba(86, 172, 31, .26), inset -1px -1px 2px rgba(0,0,0,.18), inset 2px 2px 2px rgba(255,255,255,.38);
    box-shadow:  3px 3px 5px  rgba(86, 172, 31, .26), inset -1px -1px 2px rgba(0,0,0,.18), inset 2px 2px 2px rgba(255,255,255,.38);
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1.4px;
}
.button:hover, .button:active{
    background: #4ea615;
    background: -moz-linear-gradient(top, #78ba48 27%, #4e9a15 100%);
    background: -webkit-linear-gradient(top, #78ba48 27%,#4e9a15 100%);
    background: linear-gradient(to bottom, #78ba48 27%,#4e9a15 100%);
    color: #ffffff;
}
.button-submit{
    background: #4ea615;
    background: -moz-linear-gradient(top, #78c348 27%, #4ea615 100%);
    background: -webkit-linear-gradient(top, #78c348 27%,#4ea615 100%);
    background: linear-gradient(to bottom, #78c348 27%,#4ea615 100%);
    -webkit-box-shadow:  3px 3px 5px  rgba(86, 172, 31, .26), inset -1px -1px 2px rgba(0,0,0,.18), inset 2px 2px 2px rgba(255,255,255,.38);
    -moz-box-shadow:  3px 3px 5px  rgba(86, 172, 31, .26), inset -1px -1px 2px rgba(0,0,0,.18), inset 2px 2px 2px rgba(255,255,255,.38);
    box-shadow:  3px 3px 5px  rgba(86, 172, 31, .26), inset -1px -1px 2px rgba(0,0,0,.18), inset 2px 2px 2px rgba(255,255,255,.38);
    border: none;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.button-submit:hover{
    background: #4ea615;
    background: -moz-linear-gradient(top, #78ba48 27%, #4e9a15 100%);
    background: -webkit-linear-gradient(top, #78ba48 27%,#4e9a15 100%);
    background: linear-gradient(to bottom, #78ba48 27%,#4e9a15 100%);
}
.banner{
    position: relative;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.label{
    width: 72px;
    display: inline-block;
    position: relative;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #61b32c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.label:after{
    content: '';
    position: absolute;
}
.label_bottom:after{
    left: 0;
    bottom: -4px;
    border-left: 6px solid #61b32c;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.label_top:after{
    right: 0;
    top: -4px;
    border-right: 6px solid #61b32c;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

/*Form styler select*/
.jq-selectbox__select{
    width: 230px;
    height: 44px;
    padding-top: 11px;
    padding-left: 11px;
    background: #fff;
    border: 2px solid #76d03b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    transition: border-color .4s;
}
.jq-selectbox__select:hover{
    background: #ffffff;
}
.jq-selectbox__select-text{
    width: 100% !important;
    font: 14px 'Roboto', sans-serif;
    color: #5d5d5d;
}
.jq-selectbox li{
    font-family: 'Roboto', sans-serif;
}
.jq-selectbox li:hover{
    background: #76d03b;
}
.jq-selectbox__trigger{
    border-left: none;
}
.jq-selectbox__trigger-arrow{
    top: 15px;
    left: 5px;
    border-top: 9px solid #76d03b;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    transition: .4s;
}
.jq-selectbox__trigger-arrow:after{
    content: '';
    position: absolute;
    top: -9px;
    left: -4px;
    border-top: 5px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

/*================|MAIN STYLES|================*/
html,body {
    height: 100%;
}
.main-wrapper{
    min-height: 100%;
}
.container{
    width: 1170px;
    margin: auto;
}
body{
    background: #fff url("../img/bg.png") repeat;
    font: 14px 'Roboto', sans-serif;
    color: #000000;
}

/*================|HEADER|================*/
.header-top-line{
    height: 82px;
    background: #61b32c;
}
.header{
    height: 149px;
    line-height: 149px;
}
.logo{
    float: left;
    height: 100%;
    width: 173px;
}
.logo__link{
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.logo__bottom{
    font: 30px 'Orpheus', sans-serif;
    color: #313131;
}
.header-description-wrapper{
    display: inline-block;
    height: 100%;
    width: 510px;
}
.header-description{
    padding: 0 27px;
    display: inline-block;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    color: #5b5b5b;
    line-height: 20px;
    letter-spacing: .3px;
    vertical-align: middle;
}
.header-description span{
    display: inline-block;
    padding-top: 8px;
}
.header-auth-wrapper{
    width: 230px;
    display: inline-block;
    height: 100%;
}
.header-auth{
    vertical-align: middle;
    text-align: center;
}
.header-button-wrapper{
    float: right;
    height: 100%;
}
.header-button{
    vertical-align: middle;
}

.header-search-wrapper{
    margin-bottom: 34px;
    background: #ffffff;
}
.header-search{
    height: 79px;
    line-height: 79px;
}
.header-search__field-box{
    display: inline-block;
    position: relative;
    height: 100%;
    padding-right: 23px;
    border-right: 1px solid #f1f1f1;
}
.header-search__field-box:last-child{
    border-right: none;
    padding-right: 0 !important;
}
.header-search__field-box+.header-search__field-box{
    margin-left: -4px;
    padding: 0 23px 0 23px;
}
.header-search .header-search__input{
    width: 230px;
    height: 44px;
    padding: 0 11px;
    color: #5d5d5d;
    border: 2px solid #76d03b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
}
.header-search__input::-webkit-input-placeholder {color:inherit;}
.header-search__input::-moz-placeholder          {color:inherit;}/* Firefox 19+ */
.header-search__input:-ms-input-placeholder      {color:inherit;}
.header-search .header-search__input_search{
    width: 338px;
}
.header-search .header-search__submit{
    position: absolute;
    right: 1px;
    top: 19px;
    width: 68px;
    height: 42px;
    line-height: 42px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0;
}
/*================|MAIN|================*/
/*Home page*/
.home .categories-wrapper{
    background: #ffffff;
}
.home .categories{
    padding: 38px 0 63px;
}
.home .category{
    width: 20%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.home .category:after{
    width: 43px;
    height: 606px;
    content: '';
    display: block;
    position: absolute;
    top: -70px;
    right: -21px;
    background: url("../img/shadow_separator.png") no-repeat;
    opacity: .06;
}
.home .category:last-child:after{
    display: none;
}
.home .category+.category{
    margin-left: -4px;
}
.home .category__img{
    width: 114px;
    height: 114px;
    display: block;
    position: relative;
    margin: 0 auto 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #f1f1f1
}
.home .category__img:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: url("../img/sprite.png") 0 0 no-repeat;
    vertical-align: middle;
}
.home .category__img_paper:before{
     width: 63px;
     height: 58px;
     left: 46%;
     background-position: 0 0;
 }
.home .category__img_plastic:before{
    width: 30px;
    height: 78px;
    background-position: -119px 0;
}
.home .category__img_film:before{
    width: 84px;
    height: 56px;
    background-position: -240px 0;
}
.home .category__img_metal:before{
    width: 56px;
    height: 78px;
    background-position: -360px 0;
}
.home .category__img_glass:before{
    width: 55px;
    height: 74px;
    background-position: -479px 0;
}
.home .category__title{
    margin-bottom: 34px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home .category__list{
    padding: 0 32px;
}
.home .category__item+.category__item{
    margin-top: 13px;
}

.home .city-map{
    padding-top: 60px;
    padding-bottom: 62px;
}
.home .map{
    width: 716px;
    height: 609px;
    float: left;
}
.home .banner{
    width: 716px;
    height: 208px;
    float: left;
    clear: left;
    margin-top: 51px;
}
.banner .label{
    position: absolute;
    top: 16px;
    right: 17px;
    font-weight: 500;
}
.home .cities{
    float: right;
    width: 390px;
    margin-left: 60px;
    letter-spacing: .4px;
}
.home .big-cities-list{
    float: left;
    width: 42%;
    padding-bottom: 22px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}
.home .big-cities__item+.big-cities__item{
    margin-top: 6px;
}
.home .big-cities-list+.big-cities-list{
    margin-left: 16%;
}
.home .regions-list{
    float: left;
    margin-top: 23px;
    width: 42%;
}
.home .regions-list+.regions-list{
    margin-left: 16%;
}
.home .regions-list__item+.regions-list__item{
    margin-top: 7px;
}

/*List page*/
.list-page .top-banner,
.company-page .top-banner{
    width: 100%;
    height: 200px;
    margin-bottom: 33px;
}
.list-page aside,
.company-page aside{
    float: right;
    width: 373px;
}
.list-page .content,
.company-page .content{
    float: left;
    width: 760px;
}
.list-page .social{
    height: 508px;
    margin-bottom: 35px;
}
.list-page .right-banner,
.company-page .right-banner{
    height: 508px;
}

.list-page .service{
    display: block;
    position: relative;
    padding: 20px 20px 16px 20px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.4px;
    transition: .4s;
}
.list-page .service+.service{
    margin-top: 11px;
}
.list-page .service_premium{
    background: #fffacc;
    border: 2px solid #ff9908;
}
.list-page .service:hover{
    background: #fffaac;
}
.list-page .service__img{
    float: left;
    width: 185px;
    height: 118px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.list-page .service__title{
    margin-bottom: 8px;
    color: #159bc7;
    font-size: 18px;
    font-weight: 500;
}
.list-page .service__price{
    margin-bottom: 11px;
    color: #444444;
    font-size: 18px;
    font-weight: 500;
}
.list-page .service__detail{
    color: #868686;
    font-size: 12px;
    line-height: 20px;
}
.list-page .service__favorite{
    position: absolute;
    top: 14px;
    right: 19px;
    color: #ff9908;
    font-size: 30px;
    cursor: pointer;
}
.list-page .pagination{
    margin-top: 62px;
    padding-left: 13px;
}
.list-page .pagination__list{
    display: inline-block;
    margin-right: 65px;
}
.list-page .pagination__item{
    display: inline-block;
}
.list-page .pagination__item+.pagination__item{
    margin-left: 20px;
}
.list-page .pagination__item_selected .pagination__link{
    color: #515151;
}
.list-page .pagination__button{
    display: inline-block;
    margin-top: -3px;
    font-size: 16px;
    vertical-align: middle;
    letter-spacing: .4px;
}
.list-page .pagination__button_previous{
    margin-right: 26px;
}
.list-page .pagination__button .fa{
    font-size: 20px;
}
.list-page .pagination__button_previous .fa{
    margin-right: 15px;
}
.list-page .pagination__button_next .fa{
    margin-left: 10px;
}
.list-page .bottom-banner{
    height: 159px;
    margin-top: 50px;
    margin-bottom: 58px;
}
.list-page .category{
    width: 33.33%;
    float: left;
}
.list-page .category:first-child,
.list-page .category:nth-child(4){
    padding: 0;
}
.list-page .category{
    padding-left: 52px;
    margin-bottom: 70px;
}
.list-page .category__title{
    margin-bottom: 22px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.list-page .category__item{
    letter-spacing: .4px;
}
.list-page .category__item+.category__item{
    margin-top: 13px;
}
/*Company page*/
.company-page .breadcrumbs-company-wrapper{
    padding: 29px;
    background: #ffffff;
}
.company-page .breadcrumbs{
    margin-bottom: 10px;
}
.company-page .breadcrumbs__item{
    display: inline-block;
}
.company-page .breadcrumbs__item+.breadcrumbs__item{
    margin-left: -4px;
}
.company-page .breadcrumbs__item:not(:last-child):after{
    content: '\f054';
    display: inline-block;
    margin: 0 10px;
    font: normal normal normal 12px/1 FontAwesome;
    color: #e0e0e0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.company-page .breadcrumbs__link{
    color: #868686;
    font-size: 12px;
    letter-spacing: 0.4px;
}

.company-page .company__title{
    margin-bottom: 31px;
    color: #1b1b1b;
    font-size: 36px;
    letter-spacing: .9px;
}
.company-page .company__img-link{
    display: inline-block;
    width: 224px;
    height: 145px;
}
.company-page .company__img-link+.company__img-link{
    margin-left: 10px;
}
.company-page .company__img{
    max-width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.company-page .company__description{
    margin-top: 24px;
    color: #868686;
    letter-spacing: .4px;
    line-height: 1.45;
}
.company-page .company__info{
    margin-top: 29px;
    padding-top: 19px;
    border-top: 1px solid #ececec;
    letter-spacing: .4px;
}
.company-page .company__info .fa{
    margin-right: 8px;
    color: #72bb42;
    font-size: 18px;
    vertical-align: middle;
}
.company-page .company__work-time{
    margin-right: 52px;
    display: inline-block;
    color: #444444;
    vertical-align: middle;
}
.company-page .company__phone{
    margin-right: 60px;
    color: #444444;
    vertical-align: middle;
}
.company-page .company__site{
    vertical-align: middle;
}

.company-page .comments-wrapper{
    margin-top: 34px;
    margin-bottom: 50px;
    padding: 29px;
    background: #ffffff;
    letter-spacing: .4px;
}
.company-page .comments{
    padding-bottom: 34px;
    border-bottom: 1px solid #ececec;
}
.company-page .comments__title{
    margin-bottom: 16px;
    font-size: 30px;
    color: #1b1b1b;
}
.company-page .comments__sub-title{
    display: inline-block;
    margin-right: 28px;
    color: #444444;
    vertical-align: top;
    line-height: 40px;
}
.company-page .comments .fa{
    display: inline-block;
    font-size: 32px;
    padding: 4px 13px;
}
.company-page .comments .fa+.fa{
    margin-left: -4px;
    border-left: 1px solid #e7e7e7;
}
.company-page .comments .fa-thumbs-o-up{
    color: #61b32c;
}
.company-page .comments .fa-thumbs-o-down{
    color: #ef203d;
}
.company-page .comments__send-comment{
    height: 40px;
    width: 186px;
    margin-left: 25px;
    vertical-align: top;
    line-height: 40px;
}

.company-page .comments-list{
    margin-top: 30px;
}
.company-page .comments-list__count{
    margin-bottom: 23px;
    font-size: 24px;
    color: #1b1b1b;
}
.company-page .comments-item+.comments-item{
    margin-top: 30px;
}
.company-page .comments-item__author{
    display: inline-block;
    margin-right: 5px;
    color: #413b3b;
}
.company-page .comments-item__author:after{
    content: ',';
    display: inline-block;
}
.company-page .comments-item__date{
    display: inline-block;
    color: #868686;
    font-size: 12px;
}
.company-page .comments-item__msg{
    margin-top: 20px;
    padding: 16px 23px;
    position: relative;
    background: #eef9e6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.company-page .comments-item__msg:before{
    content: '';
    position: absolute;
    left: 0;
    top: -9px;
    border-left: 15px solid #eef9e6;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}
.company-page .comments-item__msg .fa{
    float: left;
    margin-top: 3px;
    margin-right: 25px;
    font-size: 32px;
}
.company-page .comments-item__msg .fa-thumbs-o-up{
    color: #61b32c;
}
.company-page .comments-item__msg .fa-thumbs-o-down{
    color: #ef203d;
}
.company-page .comments-item__msg p{
    float: left;
    width: 600px;
    color: #413b3b;
    line-height: 1.4;
}

.company-page .comments-form{
    margin-top: 50px;
}
.company-page .comments-form .field-box+.field-box{
    margin-top: 15px;
}
.company-page .comments-form label{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.company-page .comments-form input[type='text'],
.company-page .comments-form textarea{
    width: 100%;
}
.company-page .comments-form button[type='submit']{
    width: 186px;
    height: 40px;
    float: right;
    margin-top: 25px;
}
.company-page .comments-form .validation-msg{
    margin-left: 0;
}
.company-page .comments-form__rate{
    float: left;
    margin-top: 25px;
    padding-left: 10px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.company-page .comments-form__rate_unselected{
    border: 1px solid #ff2211;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0 0 7px rgba(255, 34, 17, .29);
    -moz-box-shadow:  0 0 7px rgba(255, 34, 17, .29);
    box-shadow:  0 0 7px rgba(255, 34, 17, .29);
}
.company-page .comments-form__rate-title{
    display: inline-block;
    margin-right: 28px;
    color: #444444;
    vertical-align: middle;
}
.company-page .comments-form__rate label{
    display: inline-block;
    margin-bottom: 0;
    width: auto;
    padding: 0;
    cursor: pointer;
    color: #5d5d5d;
    vertical-align: middle;
}
.company-page .comments-form__rate input[type='radio']{
    display: none;
}
.company-page .comments-form__rate .fa{
    display: inline-block;
    font-size: 32px;
    padding: 4px 13px;
    transition: .4s;
}
.company-page .comments-form__rate .comments-form__rate-bad-label{
    margin-left: -4px;
    border-left: 1px solid #e7e7e7;
}
.company-page .comments-form__rate #comments-form__rate-good:checked + .fa-thumbs-o-up{
    color: #61b32c;
}
.company-page .comments-form__rate #comments-form__rate-bad:checked + .fa-thumbs-o-down{
    color: #ef203d;
}

.company-page .company-address{
    width: 100%;
    background: #ffffff;
    margin-bottom: 34px;
}
.company-page .company-address__buttons{
    display: table;
    width: 100%;
    -webkit-box-shadow: 0 10px 10px -4px  rgba(215, 215, 215, .25);
    -moz-box-shadow: 0 10px 10px -4px  rgba(215, 215, 215, .25);
    box-shadow: 0 10px 10px -4px  rgba(215, 215, 215, .25);
}
.company-page .company-address__button{
    width: 33.3%;
    height: 104px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.company-page .company-address__button+.company-address__button{
    margin-left: -4px;
    border-left: 1px solid #f1f1f1;
}
.company-page .company-address__button .fa{
    display: block;
    margin-bottom: 11px;
    font-size: 26px;
}
.company-page .company-address__map{
    width: 300px;
    height: 220px;
    margin: 36px auto 0;
}
.company-page .company-address-wrapper{
    width: 300px;
    margin: 26px auto 0;
    padding-bottom: 29px;
    letter-spacing: .4px;
}
.company-page .company-address__address{
    color: #2f2f2f;
    font-weight: bold;
    font-size: 16px;
}
.company-page .company-address__near-objects-list{
    margin-top: 18px;
}
.company-page .company-address__near-object{
    padding: 6px 0;
}
.company-page .company-address__near-object+.company-address__near-object{
    margin-top: 3px;
    border-top: 1px solid #ebebeb;
}
.company-page .company-address__near-object .fa{
    margin-right: 12px;
    color: #61b32c;
    font-size: 18px;
}
.company-page .company-address__near-objects-title{
    color: #444444;
}
.company-page .company-address__near-object-distance{
    float: right;
    color: #8d8d8d;
}
.company-page .company-address__add-photo{
    float: right;
    width: 186px;
    height: 40px;
    line-height: 40px;
    margin-top: 27px;
}



    /*================|FOOTER|================*/
.h-footer{
    height: 215px;
    clear: both;
}
footer{
    height: 215px;
    margin-top: -215px;
}
.footer-nav-wrapper{
    height: 50px;
    line-height: 50px;
    background: #fff;
}
.footer-nav{
    width: 100%;
}
.footer-nav__item{
    display: inline-block;
    text-align: center;
}
.footer-nav__link{
    font-size: 12px;
}
.footer-nav__item+.footer-nav__item{
    margin-left: 45px;
}
.copy{
    margin-top: 30px;
    color: #8e8e8e;
    font-size: 12px;
    letter-spacing: .3px;
}